h1 { color: #d54d7b; font-family: "Great Vibes", cursive; font-size: 65px; line-height: 60px; font-weight: normal; margin-bottom: 0px; margin-top: 10px; text-align: center; text-shadow: 0 1px 1px #fff; }


body {
  background-color: aqua;
}
div {
  text-align: center;
}
.score {
   color: #ca0d4c; font-family: "Great Vibes", cursive; font-size: 30px; line-height: 62px; font-weight: normal; margin-bottom: 0px; margin-top: 10px; text-align: center; text-shadow: 0 1px 1px #fff;
}